@import "../variables.scss";

.button {
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 5px; 
    border: 1px solid $color-grey-light;
    cursor: pointer;      
    transition: all .3s ease-out;
    padding: 10px 20px;
    border-radius: 5px; 
    border: 1px solid $color-grey-light;
    cursor: pointer;      
    transition: all .3s ease-out;      

    &:hover {
        border: 1px solid $color-green;
        
        p {
        color: $color-green;
        }
    }

    p {
        text-decoration: none;
        font-size: 13px;
        color: $color-grey;
        transition: all .3s ease-out;
    }

    &+& {
        margin-left: $button-spacing;
    }
}