$color-green-light: #b0c986;
$color-green: #7ba636;
$color-green-dark: #577937;
$color-green-darker: #286620;
$color-blue: #b5c7e8;
$color-white: #fff;
$color-black: #333333;
$color-grey: #666;
$color-grey-light: #999;
$color-blue-light: #e0effc;
$color-blue-dark: #014584;
$color-blue-darker: #232066;
$color-red-light: #fce0e1;
$color-red-dark: #662121;
$color-yellow-light: #fafce0;
$color-yellow-dark: #666420;

$button-spacing: 30px;